
   .cyrilic { 
    list-style-type: none; /* Ховаємо початкову нумерацію */
    margin-left: -0px;
    text-indent: -35px;
   }
   .cyrilic li::before {
    margin-right: 5px; /* Відстань від букви до тексту */
    width: 1em; /* Ширина */
    text-align: right; /* Вирівнювання по правому краю */
    display: inline-block; /* Рядково-блоковий елемент */
   }
   .cyrilic li:nth-child(1)::before { content: 'а)'; }
   .cyrilic li:nth-child(2)::before { content: 'б)'; }
   .cyrilic li:nth-child(3)::before { content: 'в)'; }
   .cyrilic li:nth-child(4)::before { content: 'г)'; }
   .cyrilic li:nth-child(5)::before { content: 'ґ)'; }   
   .cyrilic li:nth-child(6)::before { content: 'д)'; }
   .cyrilic li:nth-child(7)::before { content: 'е)'; }
   .cyrilic li:nth-child(8)::before { content: 'є)'; }   
   .cyrilic li:nth-child(9)::before { content: 'ж)'; }
   .cyrilic li:nth-child(10)::before { content: 'з)'; }
   .cyrilic li:nth-child(11)::before { content: 'и)'; }
   .cyrilic li:nth-child(12)::before { content: 'і)'; }
   .cyrilic li:nth-child(13)::before { content: 'ї)'; }
   .cyrilic li:nth-child(14)::before { content: 'к)'; }
}


ppp {
   line-height: 3.2 ;
   margin-top: 0px;
   margin-bottom: 25px ;
   text-indent: 30px ;
   font-size: 50px;
}

h2 {
	text-align: center;
}

.p_right {
	text-align: right;
}

p {
	line-height: 1.1;
	margin: 8px;
	font-size: 20px;
	padding: 0px;
}

 ddiv {
   padding: 0px;
   font-size: 20px;
   boorder: 1px solid #4CAF50;
}

* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  ppadding: 40px;
  flex-direction: row;
  ttext-align: left;
}

.flex-item-left {
  flex: 25%;
  padding-left: 20px;
  padding-top: 25px;
}

.flex-item-right {
   flex: 75%;
   padding-left: 20px;   
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}