
   .cyrilic { 
    list-style-type: none; /* Прячем исходную нумерацию */
    margin-left: -0px;
    text-indent: -35px;
   }
   .cyrilic li::before {
    margin-right: 5px; /* Расстояние от буквы до текста */
    width: 1em; /* Ширина */
    text-align: right; /* Выравнивание по правому краю */
    display: inline-block; /* Строчно-блочный элемент */
   }
   .cyrilic li:nth-child(1)::before { content: 'а)'; }
   .cyrilic li:nth-child(2)::before { content: 'б)'; }
   .cyrilic li:nth-child(3)::before { content: 'в)'; }
   .cyrilic li:nth-child(4)::before { content: 'г)'; }
   .cyrilic li:nth-child(5)::before { content: 'д)'; }
   .cyrilic li:nth-child(6)::before { content: 'е)'; }
   .cyrilic li:nth-child(7)::before { content: 'ж)'; }
   .cyrilic li:nth-child(8)::before { content: 'з)'; }
   .cyrilic li:nth-child(9)::before { content: 'и)'; }
   .cyrilic li:nth-child(10)::before { content: 'к)'; }
}

p {
   line-height: 3.2 ;
   margin-top: 0 ;
   margin-bottom: 5px ;
   text-indent: 30px ;
   font-size: 60px;
}
 div {
   padding: 10px;
   border: 1px solid #4CAF50;
}
